.nav-list{
    list-style: none;
    padding: 0px 15px;
    margin: 0px 25px;
    cursor: pointer;
    color: grey;
    font-size: 28px;
    transition: all 0.5s ease-out;
}

.nav-list:hover{
    transform: scale(1.15);
color: rgb(197, 197, 197);
}
.Nav-links{
    position: relative;
    left: 26%;
    top: 65px;
    z-index: 100;
display: flex;
}